<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>

    {{#each tasks}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>

          {{#if done}}
            <a href="/task/{{_id}}/toggleDone">Undone</a>
          {{else}}
            <a href="/task/{{_id}}/toggleDone">Done</a>
          {{/if}}
          <a href="/task/{{_id}}/delete">Delete</a>
          <a href="/task/{{_id}}/edit">Update</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>